{% extends 'base.html' %}

{% block body %}
<div class="container col-12 mt-4 float-left d-inline-block">
  {% if drinks != {} %}
    <div id="carouselExampleIndicators" class="carousel slide d-inline-block col-xs-1 col-md-5" data-ride="carousel" data-interval='false'>
        {%for drink in drinks %}
        {% if loop.index == 1 %}
        <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card mx-auto" style="width: 20rem;">
                <img class="card-img-top" src="{{drinks[drink].image}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{drinks[drink].name}}</h5>
                  <p class="card-text">{{drinks[drink].instructions}}</p>
                  <a href="/drinks/{{drinks[drink].id}}" class="btn btn-primary">More Info</a>
                </div>
              </div>
        </div>
        {% else %}
        <div class="carousel-item">
            <div class="card mx-auto" style="width: 20rem;">
                <img class="card-img-top" src="{{drinks[drink].image}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{drinks[drink].name}}</h5>
                  <p class="card-text">{{drinks[drink].instructions}}</p>
                  <a href="/drinks/{{drinks[drink].id}}" class="btn btn-primary">More Info</a>
                </div>
              </div>
        </div>
        {% endif %}
        {% endfor %}
        </div>
        <a class="carousel-control-prev arrow" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span style="color:rgb(61, 122, 128)" aria-hidden="true"><i class="fas fa-angle-left fa-4x"></i></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next arrow" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span style="color:rgb(61, 122, 128)" aria-hidden="true"><i class="fas fa-angle-right fa-4x"></i></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container col-xs-1 col-md-7 float-right d-inline-block" style="overflow-y:auto">
      <table class="table table-striped">
        <thead>
          <tr align ="center">
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Ingredients</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for drink in drinks %}
          <tr>
            <th scope="row">{{drinks[drink].id}}</th>
            <td><a href="/drinks/{{drinks[drink].id}}">{{drinks[drink].name}}</a></td>
            <td>
            {% for drink_id in drink_ingreds %}
              {% if drinks[drink].id == drink_id %}
                {% for ingredient in drink_ingreds[drink_id] %}
                  {{ingredient}},
                {% endfor %}
              {% endif %}
            {% endfor %}
            </td>
            <td align="center"><button class="btn btn-sm btn-success" id="{{drinks[drink].id}}recommend">Recommend</button></td>
            <td align="center"><button class="btn btn-sm btn-danger fav-remove" id="{{drinks[drink].id}}remove">Remove</button></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div>
      <h4>Sorry you don't have any favorites yet!</h4>
      <footer>(Add to favorites by clicking more info on a specific drink)</footer>
    </div>
    {% endif %}
</div>
{% endblock %}