{% extends 'base.html' %}

{% block body %}

<div class="container col-12 mt-4">
    <h3>Check out some of our drinks:</h3>
    <div class="row mt-4">
    {% for drink in distinct_drinks %}
    <div class="column col-xs-1 col-md-4 col-lg-2">
        <div class="card mx-auto mt-3 d-inline-block align-top">
            <img class="card-img mt-3 px-3" src="{{drink.image}}" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{drink.name}}</h5>
            <a href="/drinks/{{drink.id}}" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}