{% extends 'base.html' %}

{% block body %}
<div class="container col-12">
    <div class="row">
    {% if recommends == None and favs == None %}
    <h3 class="mt-4 mb-0 ml-4 col-12">Check these drinks out:</h3>
    <footer class="mt-0 mb-4 ml-5">(To get recommendations please add to your favorites list)</footer>
    {% for drink in drinks %}
    <div class="column col-xs-1 col-md-4 col-lg-2">
    <div class="card mx-2 mb-3 d-inline-block align-top">
        <img class="card-img-top mt-3 px-3" src="{{drink.image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{drink.name}}</h5>
            <a href="/drinks/{{drink.id}}" class="btn btn-primary">More Info</a>
        </div>
    </div>
    </div>
    {% endfor %}
    {% elif favs == None %}
    <h3 class="mt-4 mb-0 ml-4 col-12">Here are some of our top rated drinks:</h3>
    <footer class="mt-0 mb-4 ml-5">(To get recommendations please add to your favorites list)</footer>
    {% for drink in ratings %}
    <div class="column col-xs-1 col-md-4 col-lg-2">
    <div class="card mx-2 mb-3 d-inline-block align-top">
        <img class="card-img-top mt-3 px-3" src="{{drink.image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{drink.name}}</h5>
            <a href="/drinks/{{drink.id}}" class="btn btn-primary">More Info</a>
        </div>
    </div>
    </div>
    {% endfor %}
    {% else %}
    <h3 class="my-4 ml-4 col-12">Based on your favorites we recommend these drinks:</h3>
    {% for drink in recommends %}
    <div class="column mt-2 col-xs-1 col-md-4 col-lg-2">
    <div class="card mx-2 mb-3 d-inline-block align-top">
        <img class="card-img-top mt-3 px-3" src="{{drink.image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{drink.name}}</h5>
            <a href="/drinks/{{drink.id}}" class="btn btn-primary">More Info</a>
        </div>
    </div>
    </div>
    {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}